 /*

 main color
 #FB3640

 text color
 #F9C4C5

 secondary color
 #

 */

 @keyframes twitch-background-gradient {
 	0% {
 		background-position: 0%;
 	}

 	100% {
 		background-position: 100%;
 	}
}

 .rage-red-bg {
  background-image: linear-gradient(45deg, #fb3640, #f46036, #4b367c, #4b367c) !important;
  background-size: 300% !important;
  background-position: 100% 0% !important;
  transition: all 0.3s ease !important;
}

.rage-red-bg-moved {
  background-position: 0% 0% !important;
  transition: all 0.5s ease !important;
}

.move-rage-red-bg {
  animation: : twitch-background-gradient 5s ease;
}


.rage-red-bg-second {
  background-color: #fb3640 !important;

}

.rage-no-border {
  border-color: transparent !important;
}

.rage-color {
  color: #F9C4C5 !important;
}

.rage-color-darker {
  color: #FB3640 !important;
}

.rage-red-bottom-border::after {
  border-bottom-color: #FB3640 !important;
}

.rage-animation-init {
  transition: background-color 0.3s ease,
              border-color 0.3s ease,
              color 0.3s ease;
}

.rage-hollow {
    background-color: transparent !important;
    border: 1px solid #fb3640 !important;
    color: #fb3640 !important;
}

.rage-hollow > .rage-color {
  color: #fb3640 !important;
}

.rage-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.rage-font-1 {
  font-family: "youmurdererbb_reg";
}
.rage-font-2 {
  font-family: "Punk";
}
.rage-font-3 {
  font-family: "DrawingBlood";
}
.rage-font-4 {
  font-family: "Sharrpe";
}


.rage-overlay-text {
  position: absolute;
  color:white;
  z-index: 10000;
  bottom: 5px;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

.rage-overlay-style-darker {
  opacity: 0.4;
	box-shadow: inset 0 0 62px #5b3a33;
	background-image: linear-gradient(45deg, #fb3640, #f46036);
}

@keyframes wiggle {
  10%, 90% {
      transform: translate3d(-1px, 1px, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 2px, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 2px, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 4px, 0);
    }
}

.shake {
  animation: wiggle 0.4s cubic-bezier(.36,.07,.19,.97) both;
}


@font-face {
 font-family: "youmurdererbb_reg";
 src: url("chrome-extension://__MSG_@@extension_id__/fonts/youmurdererbb_reg.otf") format("opentype");
}

@font-face {
 font-family: "Punk";
 src: url("chrome-extension://__MSG_@@extension_id__/fonts/Punk.ttf");
}

@font-face {
 font-family: "DrawingBlood";
 src: url("chrome-extension://__MSG_@@extension_id__/fonts/DrawingBlood.ttf");
}

@font-face {
 font-family: "Sharrpe";
 src: url("chrome-extension://__MSG_@@extension_id__/fonts/Sharrpe.ttf");
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

div#sessionStatusOverlay {
    margin: 10px;
    margin-right: 0;
    position: fixed;
    width: 300px;
    height: 50px;
    top: 50px;
    right: 0;

}

div#sessionStatusInner {
  box-shadow: 0 0 20px #00000057;
  transition: opacity 0.5s ease;
  background: linear-gradient(-45deg, #fb3640, #f46036, #fb3640, #f46036);
  background-size: 400% 400%;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
  width: 100%;
  height: 100%;
}

span#sessionStatusOverlayText {
    font-size: 29px;
    font-family: Sharrpe;
    font-weight: 400;
    top: 4px;
    left: 12px;
    color: white;
    position: absolute;
    transition: opacity 1.5s ease;
}

.status-fadeOut {
  opacity: 0;
  transition: opacity 1.5s ease;
}



/* notification-css v */

.notification-container {
  width: 100%;
  height: 200px;
  background: cyan;

}

.notification-box {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  width: 260px;
  height: 186px;
  position: relative;
  margin: auto;
  display: inline-block;
}

.notification-box__top-bar {
  background-color: rgb(239, 93, 96);
  display: inline-block;
  position: relative;
  width: 100%;
  height: 40px;
  margin: auto;

}

.notification-box__top-bar__title {
  display: inline-block;
  position: absolute;
  width: 90%;
  height: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 5px;
}

.button-fig{
  display: inline-block;
  width: 18px;
  margin: auto;
}

.x-button {
  display: inline-block;
  width: 20px;
  height: 18px;
  fill: white;
  position: absolute;
  right: 3px;
  top: 11px
}

.notification-box__title {
  display: inline-block;
  font-weight: 600;
  position: absolute;
  margin: auto;
}

.notification-box__description {
  display: inline-block;
  position: absolute;
  margin: auto;
}


.notification-box__body {
  top: -5px;
  display: inline-block;
  position: relative;
  height: 146px;
  line-height: 146px;
  width: 100%;
  z-index: 9999;
  bottom: 0;
  margin: auto;
}

.notification-box__overlay {
  display: inline-block;
  width: 100%;
  height: 146px;
  opacity: 0.3;
  background-color: rgb(239, 93, 96);
  position: absolute;
  margin: auto;
}

.notification-box__rage{
  display: inline-block;
  font-family: 'youmurdererbb_reg', cursive;
  position: absolute;
  font-size: 40px;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  z-index: 9999;
  text-align: center;
  vertical-align: middle;
}

.notification-box__image {
  display: inline-block;
  height: 100%;
  position: absolute;
  margin: auto;
}


/* notification-css ^*/
