
 /*

 main color
 #FB3640

 text color
 #F9C4C5

 secondary color
 #




 */

.rage-red-bg {
  background-color: #FB3640 !important;
}

.rage-red-bg-second {
  background-color: #EF5D60 !important;

}

.rage-no-border {
  border-color: transparent !important;
}

.rage-color {
  color: #F9C4C5 !important;
}

.rage-color-darker {
  color: #FB3640 !important;
}

.rage-red-bottom-border::after {
  border-bottom-color: #FB3640 !important;
}

.rage-animation-init {
  transition: background-color 1s ease,
              border-color 1s ease,
              color 1s ease;
}
