 /*

 main color
 #FB3640

 text color
 #F9C4C5

 secondary color
 #

 */

 .rage-red-bg {
  background-color: #FB3640 !important;
}

.rage-red-bg-second {
  background-color: #EF5D60 !important;

}

.rage-no-border {
  border-color: transparent !important;
}

.rage-color {
  color: #F9C4C5 !important;
}

.rage-color-darker {
  color: #FB3640 !important;
}

.rage-red-bottom-border::after {
  border-bottom-color: #FB3640 !important;
}

.rage-animation-init {
  transition: background-color 0.3s ease,
              border-color 0.3s ease,
              color 0.3s ease;
}

.rage-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.rage-font-1 {
  font-family: "youmurdererbb_reg";
}
.rage-font-2 {
  font-family: "Punk";
}
.rage-font-3 {
  font-family: "DrawingBlood";
}
.rage-font-4 {
  font-family: "Sharrpe";
}
.rage-font-5 {
  font-family: "TPF";
}

.rage-overlay-text {
  position: absolute;
  color:white;
  z-index: 10000;
  bottom: 5px;
  font-size: 24px;
  text-align: center;
  width: 100%;
}
.rage-overlay-style {
  opacity: 0.9;
  box-shadow: inset 0 0 92px #fca175;
  background-image: linear-gradient(45deg, #fb3640, #f46036);
}

.rage-overlay-style-darker {
  opacity: 0.9;
	box-shadow: inset 0 0 62px #5b3a33;
	background-image: linear-gradient(45deg, #fb3640, #f46036);
}

@keyframes wiggle {
  10%, 90% {
      transform: translate3d(-1px, 1px, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 2px, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 2px, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 4px, 0);
    }
}

.shake {
  animation: wiggle 0.4s cubic-bezier(.36,.07,.19,.97) both;
}


@font-face {
 font-family: "youmurdererbb_reg";
 src: url("chrome-extension://__MSG_@@extension_id__/fonts/youmurdererbb_reg.otf") format("opentype");
}

@font-face {
 font-family: "Punk";
 src: url("chrome-extension://__MSG_@@extension_id__/fonts/Punk.ttf");
}

@font-face {
 font-family: "DrawingBlood";
 src: url("chrome-extension://__MSG_@@extension_id__/fonts/DrawingBlood.ttf");
}

@font-face {
 font-family: "Sharrpe";
 src: url("chrome-extension://__MSG_@@extension_id__/fonts/Sharrpe.ttf");
}

@font-face {
 font-family: "TPF";
 src: url("chrome-extension://__MSG_@@extension_id__/fonts/TPF.ttf");
}
